div.card-container
    a.card-wrapper(href='//google.com')
        div.card
            div.cover
                div.cover-text
                    h2 User name
                    div asd
                    div asd
                    div asd
            image
