extends ../layout/layout.pug
block vars
    - var title = 'Главная';
block header
    include ../includes/grid-test/header

block content
    div.container
        include ../includes/grid-test/content-main

block footer
    include ../includes/footer.pug

