- var img1 = "https://images01.nicepage.com/4b/9f/4b9fa4a97b53ee957772524b2fbcd436.jpeg"
- var img2 = "https://images01.nicepage.com/fb/77/fb7752cd44af6ad8f73c24a23180f289.jpeg";
- var img3 = "https://images01.nicepage.com/10/6c/106cc2413131ab9cdedda51533252abd.jpeg";
- var img4 = "https://images01.nicepage.com/67/20/67206d9b607ebf77737759c734a354ba.jpeg";
- var img5 = "https://images01.nicepage.com/55/f8/55f88bc82e74e5614c12d06055d44f87.jpeg";
- var img6 = "https://images01.nicepage.com/e8/e6/e8e663793470d08663babfebe964345c.jpeg";
- var img7 = "https://images01.nicepage.com/4b/62/4b62f6393509e9731483b9decbd42619.jpeg";


div.grid-container
    div.column
        div.card-wrapper.card-vertical
            div.card-content-wrapper
                div.cardContent.pic1
        div.card-wrapper.card-vertical
            div.card-content-wrapper
                div.cardContent.pic2
    div.column.column-cells
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent.pic3
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent.pic4
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent.pic5
    div.column
        div.card-wrapper.card-vertical
            div.card-content-wrapper
                div.cardContent.pic6
        div.card-wrapper.card-vertical
            div.card-content-wrapper
                div.cardContent.pic7

    div.column.column-cells
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img5+")")
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img4+")")
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img3+")")
    div.column
        div.card-wrapper.card-vertical
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img2+")")
        div.card-wrapper.card-vertical
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img7+")")

    div.column.column-cells
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img4+")")
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img5+")")
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img3+")")

    div.column.column-cells
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img5+")")
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img3+")")
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img4+")")
    div.column
        div.card-wrapper.card-vertical
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img6+")")
        div.card-wrapper.card-vertical
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img1+")")

    div.column.column-cells
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img4+")")
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img3+")")
        div.card-wrapper.card-cell
            div.card-content-wrapper
                div.cardContent(style="background-image:url("+img5+")")

